* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    margin: 0 auto;
}



#header-container {
    background-color: white;
}

.navbar-brand {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 2px;
    position: relative;
    left: 75px;

}

li {
    padding: 10px;
    position: relative;
    right: 80px;
    
}

#am {
    position: relative;
    left: 50px;
    padding:10px;
    top: 20px;
}

hr {
    position: relative;
    left: 10px;
}

#main-container{
    background-color: white; 
    position: relative;
    margin: 0 auto;
    top: 30px;
    width: 61%;
    

}

.profile-pic {
    clear: both;
    position: absolute;
    left: 5px;
    padding: 100px;
    border: 2px solid black;
    
}

.row{
    width: 61%px;
    margin: 0 auto;
    content: "";
    clear: both;
    display: table;
}

p {
    position: relative;
    float: right;
    top: -350px;
    left: 240px;
    padding: 20px 10px 5px 20px;
    
}

#r2 {
    position: relative;
    left: 20px;
    top: 20px;
    padding: 10px;
}


@media only screen and (max-width: 350px) {

    li {
       width: 100%;
       left: 80px; 
        
    }
    

    .navbar-brand {
        background-color: teal;
        color: white;
        width: 100%;
        border-radius: 2px;
        
        
    
    }


    #main-container{
        background-color: white; 
        position: relative;
        margin: 0 auto;
        top: 30px;
        width: 100%;
       
    }
    
    .profile-pic {
        clear: both;
        
        width: 100%;
        border: 2px solid black;
        
    }
    
    p {
        
        width: 100%;
        
     }
     
     #r2 {
        width: 100%;

    }

    }   
    


