* {
    box-sizing: border-box;
}

.navbar-custom {
    background-color: teal;
    
}

.navbar-default {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-nav > li {
    color: white;
    padding: 40px;

    
}

h1 {
    color: teal;
    padding: 10px;
}

p {
    text-align: center;
}

body {
    background-color: grey;
}

#index-container {
    background-color: white;
    width: 70%;
    padding-bottom: 10px;
}



#main-container-contact {

    background-color: white;
    padding-bottom: 20px;

}

.footer {
    background-color: teal;
}

/*portfolio css*/

#portfolio-container {
    width: 70%;
    background-color: white;
}


